<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body class="text-bg-success bg-opacity-25">
    <!-- Nav bar -->
    <nav class="nav navbar navbar-expand-lg text-bg-success col-12">
        <div class="container text-black p-3 ">
            <a class="navbar-brand" href="#"><img src="/images/logo.jpg" alt="brand-image"
                    class=" img-fluid rounded-circle" width="50px" height="50px"></a>
            <h2><span class="text-danger">Expense</span> Tracker</h2>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/home" class="nav-link fs-4" >Home</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="container mt-5 col-md-8 ">
        <div class="card p-3 bg-light">
            <div class="card-header bg-primary text-white text-center">
                <h2>Reset your password</h2>
            </div>
            <div class="card-body">
                <form id="resetpasswordform">
                    <div class="form-group mt-3">
                        <label for="password"><i class="fas fa-lock"></i> New Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Enter your new password" required>
                    </div>
                    <div class="form-group mt-3">
                        <label for="confirm-password"><i class="fas fa-lock"></i> Confirm Password</label>
                        <input type="password" class="form-control" id="confirm-password" name="confirm-password"
                            placeholder="Re-enter your new password" required>
                    </div>
                    <div class="form-group text-center mt-4">
                        <button type="submit" class="btn btn-lg btn-primary" id="submitbtn">Reset Password</button>
                    </div>
                    <div class="alert alert-warning alert-dismissible fade show mt-3 d-none" role="alert"
                        id="passwordDiv">
                        <strong>Holy guacamole!</strong> both password should be same.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="alert bg-success alert-dismissible fade show mt-3 d-none" role="alert" id="successDiv">
                        <strong>Holy guacamole!</strong> password successfuly reset.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    </div>
    <div class=" p-5"></div>
    <footer class="bg-warning bg-opacity-100 py-4 fixed-bottom text-black">
        <!-- Footer Content Here -->
        <div class="container text-center">
            <p>&copy; 2023 Mufil PvtLtd. All rights reserved.</p>
        </div>
    </footer>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="/js/resetpassword.js"></script>

</html>